body {
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    background: url(../img/bg_desk_1920.jpg) fixed 0 -100px;
    background-size: cover;
    font-size: calc(0.75em + 0.9vmin);
    padding-top: 40px;
}


.no-padding {
    padding: 0;
}

.row {padding:0 15px;}


@media only screen and (max-width: 1000px) {
    header h1 {
        font-size: 24px;
    }
    #myportfolio h3 {
        text-align: left;
    }
}

@media only screen and (max-width: 750px) {
    header h1 {
        font-size: 4px;
    }
    h3 small {
        text-align: center;
    }
    #contact a {
        display: block;
    }
    #myportfolio h3 {
        text-align: center;
    }
    main img {
        width: 50% !important;
        display: block;
    }
    p {
        padding: 0 50px;
        text-align: justify
    }
}

@media only screen and (max-width: 550px) {
    main img {
        width: 100% !important;
    }
    p {
        padding: 0 0;
        text-align: justify
    }
}

.navbar {
    padding: 3px 0px;
    background-color: rgba(58, 98, 98, 1.0);
    border-width: 0;
    margin-bottom: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 16px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    max-width: 1170px;
}

.border-thick {
    color: lightgray !important;
    font-weight: bold !important;
}

.padding-right {
    padding-right:10px;
}

h1 {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    /*    font-size: 5.9vw;*/
}

h2 {
    text-align: center;
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
    /*    font-size: 3vw;*/
}

h3 {
    margin-top: -4px;
    margin-bottom: 3;
    text-transform: lowercase;
    font-family: "Source Code Pro", monospace;
    text-align: center;
}

p {
    font-family: "Roboto", sans-serif;
    /*    font-size: 2vmin;*/
    margin: 0;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

header img {
    width: 100%;
}

header hr {
    margin-top: 0;
}

main hr {
    padding-bottom: 0;
}

#showcase {
    display: flex;
    padding: 50px 0;
}

.jumbotron {
    background-color: rgba(252, 252, 252, 0.66);
    color: darkslategray;
    padding: 12px;
    margin-top: 77px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
}

.jumbotron hr {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0))
}

.img-thumbnail {
    background-color: whitesmoke;
}

.bg-visible {
    background-color: rgba(58, 98, 98, 0.7);
    padding: 10px 0;
}

.portfolio {
    text-align: justify;
}

#contact {
    padding: 10px 0 75px 0;
}

.portfolio p a {
    color: lightblue;
}

#contact a {
    color: lightblue;
    padding: 10px;
    font-size: 1.3em;
}

/*
.container {
    padding: 0;
}
*/

footer {
    border-top-style: solid;
    border-top-width: thin;
    padding: 30px 0;
    background-color: rgba(58, 98, 98, 1);
}

main img {
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}

.col-sm-12 {
    padding: 15px;
}

.modal-header {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-body {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
}

.modal-body img {
    padding-bottom: 10px;
}

.modal-body a {
    text-align: center;
}

.modal-footer {
    background-color: rgba(0, 0, 0, 0.8);
}

main img:hover {
    background-color: dimgrey;
    border-color: dimgrey;
}

